name: Azure Web App Deployment

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Show Node.js and npm versions
      run: |
        node --version
        npm --version

    - name: Install Frontend Dependencies
      run: |
        cd frontend
        npm install
        
    - name: List installed packages
      run: |
        cd frontend
        npm list

    - name: Build Frontend
      run: |
        cd frontend
        npm run build
        ls dist  # List contents of dist folder

    - name: Deploy to Azure Static Web Apps
      id: builddeploy
      uses: Azure/static-web-apps-deploy@v1
      with:
        azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        action: "upload"
        app_location: "frontend"
        output_location: "dist"
